
html, body {
  width: 100%;
  background-color: cyan;
}

body {
  margin: 0;
  padding: 0 20%;
}


/*<--------------------------------------Navigation---------------------------------------->*/

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(210, 82, 127, 1);
  position: fixed;
  width: 60%;
}

.navli {
  float: left;
  width: 25%
}

.main-nav {
color:#FFF;
display: block;
text-align: center;
text-decoration: none;
font-size: 100%; 
font-weight: bold;
padding: 15px 15px;
}

.main-nav:hover {
background-color: rgba(219, 10, 91, 0.8);
}



/*<--------------------------------------Main---------------------------------------->*/

#download {
  animation-duration: 10s;
  animation-iteration-count: infinite; 
  animation-name: rainbow; 
  text-decoration: none;
  font-size: 170%;
}

@keyframes rainbow {
  0%  {color: red;}
  14.2%  {color: orange;}
  28.4%  {color: yellow;}
  42.6%  {color: green;}
  56.8%  {color: blue;}
  71%  {color: indigo;}
  85.2%  {color: violet;}
  100%  {color: red;}
}

#gamebox {
display: block;
margin: 0 auto;
padding-top: 10%;
width: 100%;
height: auto;
}

#main-game {
  background: rgba(242, 38, 19, 0.8); 
  padding-bottom: 10%;
  padding-top: 10%; 
}

#main-game p {
  text-align: center;
}


/*<--------------------------------------Global---------------------------------------->*/

#how-to-section {
  background-color: rgba(219, 10, 91, 0.8);
}

#about-section {
  background-color: rgba(210, 82, 127, 0.8);
}

#feedback-section {
  background-color: rgba(246, 71, 71, 0.8);
}

.title {
  text-align: center;
  color: white;
  padding-top: 5%;
  padding-bottom: 2%;
  font-weight: bold;
  letter-spacing: 1px;
}

p {
  color: white;
  font-weight: lighter;
  word-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2%;
}


/*<--------------------------------------How to---------------------------------------->*/
.how2-title {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2%;
  color: white;
  padding-top: 5%;
  font-weight: bold;
}

ul li{
  color: white;
  font-weight: lighter;
}

ol li{
  background: rgba(255 , 229, 229, 0.8);
  padding: 1%;
  margin-left: 2%;
  color: darkred;
  font-weight: bold;
    list-style-type: none;
}

.step-list{
  counter-reset: mylists;
}

.step-list li::before {
  content: counter(mylists) ". ";
  counter-increment: mylists;
}

.step-list2 li::before{
  content: counter(mylists) ". ";
  counter-increment: mylists;
}

.step-list3 li::before{
  content: counter(mylists) ". ";
  counter-increment: mylists;
}

.step-list4 li::before{
  content: counter(mylists) ". ";
  counter-increment: mylists;
}



/*<--------------------------------------About---------------------------------------->*/


q {
  color: rebeccapurple;
  font-weight: bold;
  background: rgba(255, 229, 229, 1);
}

.about-text{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-left: 0.3%;
}


#joke {
  background: red;
  color: transparent;
}

 #joke:active {
  background: rgba(210, 82, 127, 0.8); 
  color: white;
  cursor: none;
 }

#joke:hover{
  background: rgba(210, 82, 127, 0.8); 
  color: white;
  cursor: none;
}


/*<--------------------------------------Feedback---------------------------------------->*/

form {
  border: solid white 5px;
}


/*<--------------------------------------Rest---------------------------------------->*/
footer {
  background-color: purple;
  color: white;
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

.how2-title {
  font-size: 120%;
}

ul li{
  font-size: 120%;
}

ol li{
    font-size: 120%;
}

.title {
  font-size: 150%;
}

p {
  font-size: 140%;
}


q {
  font-size: 120%;
}

.about-text{
  font-size: 120%;
}

}

@media only screen and (min-width : 1025px) {
.how2-title {
  font-size: 130%;
}

.title {
  font-size: 170%;
}

.about-text{
  font-size: 140%;
}

}

@media only screen and (min-width : 1224px) {

#main-game p {
  display:block;
  text-align: center;
  font-size: 200%;
}

#gamecontainer {
  width: 1205px;
}

#gamebox {
display: block;
margin: 0 auto;
padding-top: 10%;
width: 100%;
height: 100%;
}

.how2-title {
  font-size: 200%;
}

ul li{
  font-size: 120%;
}

ol li{
    font-size: 120%;
}

.title {
  font-size: 200%;
}

p {
  font-size: 120%;
}


q {
  font-size: 120%;
}

.about-text{
  font-size: 120%;
}

}

/*
@media only screen and (min-width : 1824px) {

.how2-title {
  font-size: 300%;
}

ol li {
  margin-left: -0.4%;
}

ul li{
  margin-left: 1.3%;
  font-size: 160%;
}

.title {
  font-size: 500%;
}

p {
  font-size: 160%;
}


q {
  font-size: 160%;
}

.about-text{
  font-size: 160%;
}


}

*/
