html {
height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media (max-width: 800px) .nav-blocks {
width: 100%; 
}

nav {
height: 100%;
}

.nav-blocks {
display: block;
background: cover; 
height: 25%;
}

.game-block {
display:block;
overflow: hidden;
background-color: rgba(242, 38, 19, 0.8); 
height: 100%;
}

.game-block:hover {
  background: rgba(242, 38, 19, 1); 
}

.how-to-block {
display:block;
overflow: hidden;
background-color: rgba(219, 10, 91, 0.8);
height: 100%;
}

.how-to-block:hover {
  background: rgba(219, 10, 91, 1); 
}

.social-block {
display:block;
overflow: hidden;
background-color: rgba(210, 82, 127, 0.8);
height: 100%;
}

.social-block:hover {
  background: rgba(210, 82, 127, 1); 
}

.feedback-block {
display:block;
overflow: hidden;
background-color: rgba(246, 71, 71, 0.8);
height: 100%;
}

.feedback-block:hover {
  background: rgba(246, 71, 71, 1); 
}


h2 {
color:#FFF;
position: relative;
text-align: center;
line-height: 100%;
}

#title {
  text-align: center;
  color: rgba(100, 200, 0, 1);
}



#gamebox {
display: block;
margin: 0 auto;
padding-top: 10%;
max-width: 100%;
}

#main-game {
  background: rgba(242, 38, 19, 0.8); 
  padding-bottom: 10%; 
}

#main-game p {
  text-align: center;
}





input, [id$="section"] {
display: none; 
clear:both; 
}

label {
display:block;
float:left; /* keeps the tabs vertical and not horiz */
width: 33.33%;
color: pink; /* the colour of the icons after click*/
cursor: pointer; /*pointer style when hovered*/ 
text-decoration: none;
text-align: center;
background: red;
line-height: 3em;
}

#how-tab:checked ~ #how-to-section,
#about-tab:checked ~ #about-section,
#feedback-tab:checked ~ #feedback-section {
  display: block;
}

[id$="tab"]:checked + label {
  background: #fff;
  color: #222;
}

[id$="tab"]:checked + label .fa {
  color: #f69;
}

.tab-content {
  background: #fff;
}

.fa {
  margin-right: 10px;
}


.tab-container section * {
  animation: fadeInScale 0.7s ease-in-out;
}


